.dashboard-icon {
    font-size: 50px;
}
.dashboard-card-label {
    font-size: 14px;
    color: rgb(92, 92, 212);
}
.dashboard-card-data {
    font-size: 25px;
    font-weight: 600;
}
.login-box .card-body {
    padding: 0 !important;
}
.login-form {
    padding: 1.25rem;
}
.login-header {
    position: absolute;
    top: 0;
    left: 46.6%;
    width: 130px;
    z-index: 2081;
}
.login-register {
    background: linear-gradient(to bottom right, #21b75f 0%,#31386e 100%);
    height: 100%;
}
.login-register .login-box {
    /* background: url(../assets/images/background/pattern_bg.png) repeat scroll left top rgba(0, 0, 0, 0); */
}
.login-container {
    padding: 0;
    margin: 0;
    background: #0e282e !important;
    position: relative;
    /* background: linear-gradient(to bottom right, #21b75f 0%,#31386e 100%); */
}

.admin-page {
    color: #fff !important;
}

.user_list_table td {
    word-break: keep-all;
    /* white-space: nowrap; */
    vertical-align: middle;
}

.topbar .topbar-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}